*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 16px;
	color: #ffffff;
}
body{
	/*background-image: url("../img/Mockup.png");*/
	background-color: #1b1b1b;
   	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
    -moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
   	width: 100%;
	height: 100%;
	margin: 0px;
	overflow-x:hidden;
}
html{
	width: 100%;
	height: 100%;
}
h1,h2,h3,h4,h5,h6, p{
	color: #dddddd;
	font-family: 'Impact';
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 18px;
}
@font-face{
    font-family: "Impact";
    src: url('../fonts/Impact.ttf'),
    url('../fonts/Impact.otf'),url('../fonts/Impact.eot') format('embedded-opentype'); /* IE */
}

#app-container{
	position: relative;
	min-height: 100%; 
    vertical-align:bottom;
    margin:0 auto;
    height:100%;
    
}

/*  MENU BAR */
.menu-bar{
	position: absolute;
	z-index: 500;
	left: 0;
	top: 0;
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: rgba(0,0,0,0.65);
}
.navigation-bar{
	display: inline-block;
	height: 100%;
}
.menu-bar-button{
	font-size: 18px;
	padding: 0 10px;
	font-family: "Impact";
	background-color: rgba(255,0,0,0);
	border:none;
	height: 100%;
	vertical-align: middle;
	cursor:pointer;
	color:#ffffff;
	outline: none;
	text-decoration:none;
	transition: background-color 0.25s linear; /* vendorless fallback */
    -o-transition:  background-color 0.25s linear; /* opera */
    -ms-transition:  background-color 0.25s linear; /* IE 10 */
    -moz-transition:  background-color 0.25s linear; /* Firefox */
    -webkit-transition:  background-color 0.25s linear; /*safari and chrome */
}
.menu-bar-button:hover {

	background-color:#5cbf2a;
}
.menu-bar-button:active {
	position:relative;
	top:1px;
}
.network-bar .menu-bar-button:active {
	position:relative;
	top:-1px;
}
.network-bar{
	height: 100%;
}
.icon{
	padding-right :5px;
	height: 50%;

}
.network-icon{
	position: relative;
	padding-right :5px;
	height: 100%;

}
/*  INFORMATION DIVIDER */

.information-wrapper{
	margin-top: 0px;
	border-left: solid 5px rgba(0,0,0,0.34);
	border-right: solid 5px rgba(0,0,0,0.34);
	background-color: rgba(0,0,0,0.17);
    width:90%;
    margin:0 auto -40px;
    z-index: 0;
}
.information-wrapper2{
	margin-top: 0px;

    height: 100%;
    margin:0 auto -40px;
    z-index: 0;
}
.auto-height{
	min-height:100%;
    height:auto !important;
    height:100%;
}
.information-div{
	padding-top: 20px;
	position: relative;
	margin: 0 auto;
	text-align: center;

}
/* COPYRIGHT DIVIDER */

.copyright-bar{
	position: relative;
	width: 100%;
	height: 40px;	
	text-align: center;
	background-color: rgba(0,0,0,0.65);
	z-index:500;
}
.push{
	height: 40px;
}
/* HOME PAGE*/
.logo-div{
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
	padding-top: 10%;
	z-index: 1500;
}
.spinner{
	position: relative;
	margin:auto;
	-webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
    
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/* LOADER */
.loader-wrapper .loader-section{
	background-color: #1b1b1b;
	z-index: 1000;
	position: fixed;
	top:0;
	width:51%;
	height:100%;
}
.loaded .loader-wrapper {
    visibility: hidden;
}
.loader-wrapper .section-left{
	left: 0;
}
.loader-wrapper .section-right{
	right: 0;
}
.loaded .loader-wrapper .section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}
 
.loaded .loader-wrapper  .section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
/*Animations for loader*/

/* add .loaded to body, then this will occur */
.loaded .spinner {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo{
	-webkit-transform: scale(1,1);
	 -moz-transform:scale(1,1);
	 -ms-transform:scale(1,1);
	  transform: scale(1,1);
	  -webkit-transition: all 0.3s ease-in-out; 
    transition: all  0.3s ease-in-out;
}
.logo:hover{
	-webkit-transform: scale(1.1,1.1);
	 -moz-transform:scale(1.1,1.1);
	 -ms-transform:scale(1.1,1.1);
	  transform: scale(1.1,1.1);
	 -webkit-transition: all 0.3s ease-in-out; 
    transition: all  0.3s ease-in-out;
}
.loaded .loader-wrapper .section-right,
.loaded .loader-wrapper .section-left{
	-webkit-transition: all 0.3s 0.3s ease-out; 
    transition: all 0.3s 0.3s ease-out;
}
/*Page Movements*/
.move-left{
	-webkit-animation-name:moveLeft; -moz-animation-name:moveLeft;
	animation-name:moveLeft;
	-webkit-animation-duration:1s; -moz-animation-duration:1s;
	animation-duration:1s;
}
@-webkit-keyframes moveLeft{
		50%{ transform: translateX(-120%);}
	51%{ transform: translateX(120%);
		opacity:0;}
	100%{transform: translateX(0);}

}
@-moz-keyframes moveLeft{
	50%{ transform: translateX(-120%);}
	51%{ transform: translateX(120%);
		opacity:0;}
	100%{transform: translateX(0);}
}
@keyframes moveLeft{
	50%{ transform: translateX(-120%);}
	51%{ transform: translateX(120%);
		opacity:0;}
	100%{transform: translateX(0);}
}
.move-right{
	-webkit-animation-name:moveRight; -moz-animation-name:moveRight;
	animation-name:moveRight;
	-webkit-animation-duration:1s; -moz-animation-duration:1s;
	animation-duration:1s;
}
@-webkit-keyframes moveRight{
	50%{ -webkit-transform: translateX(120%);}
	51%{ -webkit-transform: translateX(-120%);
		opacity:0;}
	100%{-webkit-transform: translateX(0);}
}
@-moz-keyframes moveRight{
	50%{ transform: translateX(120%);}
	51%{ transform: translateX(-120%);
		opacity:0;}
	100%{transform: translateX(0);}
}
@keyframes moveRight{
	50%{ transform: translateX(120%);}
	51%{ transform: translateX(-120%);
		opacity:0;}
	100%{transform: translateX(0);}
}
.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused; 
    animation-play-state:paused;
}

/* PROJECTS */
.project-title{
	font-size: 24px;
	font-family: 'Impact';
	margin:10px;
	color: #dddddd;
}
.projects-div{
	padding: 20px 20px;
	position: relative;
	margin: 0 auto;
	float: left;
}