*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 16px;
	color: #ffffff;
}
body{
	/*background-image: url("../img/Mockup.png");*/
	background-color: #1b1b1b;
   	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
    -moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
   	width: 100%;
	height: 100%;
	margin: 0px;
	overflow-x:hidden;
}
.noscroll { position: fixed; overflow-y:scroll }
html{
	width: 100%;
	height: 100%;
}
h1,h2,h3,h4,h5,h6{
	color: #ffffff;
	font-family: 'Impact';
}
p,li{
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.618;
	padding: 5px 5px 5px 5px;
	color: rgba(255,255,255,.9);
}
li{
	font-size: 12px;
	font-family: "Arial";
	font-weight:bold;
	padding: 5px 0 5px 0;
	margin-left: 20px;
}
h1 {
	font-size: 36px;
	padding-bottom: 50px;
	padding-top: 50px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 18px;
}
@font-face{
    font-family: "Impact";
    src: url('../fonts/Impact.ttf'),
    url('../fonts/Impact.otf'),url('../fonts/Impact.eot') format('embedded-opentype'); /* IE */
}

#app-container{
	position: relative;
	min-height: 100%;
    vertical-align:bottom;
    margin:0 auto;
    height:100%;

}

/*  MENU BAR */
.menu-bar{
	position: fixed;
	z-index: 1550;
	left: 0;
	top: 0;
	width: 100%;
	height: 5%;
  min-height: 25px;
	text-align: center;
	background-color: rgba(0,0,0,0.65);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(0, 0, 0, 0.6);
}
.navigation-bar{
	display: inline-block;
	height: 100%;
}
.menu-bar-button{

  font-size: 4vw;
	padding: 0 10px;
	font-family: "Impact";
	background-color: rgba(255,0,0,0);
	border:none;
	height: 100%;
	vertical-align: middle;
	cursor:pointer;
	color:#ffffff;
	outline: none;
	text-decoration:none;
	transition: background-color 0.25s linear; /* vendorless fallback */
    -o-transition:  background-color 0.25s linear; /* opera */
    -ms-transition:  background-color 0.25s linear; /* IE 10 */
    -moz-transition:  background-color 0.25s linear; /* Firefox */
    -webkit-transition:  background-color 0.25s linear; /*safari and chrome */
}
@media screen and (min-width: 400px) and (min-device-width: 400px) {
	.menu-bar-button {
		font-size: 18px;
	}
}
/*DEFAULT COLOR FOR MENU*/
.menu-bar-button:hover {
	background-color:#5cbf2a;
}
.menu-active{
	background-color:#5cbf2a;
}


.menu-bar-button.home:hover, .menu-active.home {

	background-color:#5cbf2a;
}
.menu-bar-button.about:hover,.menu-active.about{

	background-color:#D6364B;
}
.menu-bar-button.projects:hover,.menu-active.projects {

	background-color:#3BAABF;
}
.menu-bar-button.resume:hover,.menu-active.resume {

	background-color:#DB9437;
}
.menu-bar-button:active {
	margin-top:1px;
}
.network-bar .menu-bar-button:active {
	position:relative;
	top:-1px;
}
.network-bar{
	height: 100%;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.075) inset, 0 0 10px rgba(0, 0, 0, 0.6);
}
/* Icon height depends on menu bar size, had to use actual values as Pale Moon wasn't working*/
.icon{
	padding-right :5px;
	height: 20px;

}
.network-icon{
	position: relative;
	padding: 3px 0;
	height: 40px;

}
/*  INFORMATION DIVIDER */

.information-wrapper{
	margin-top: 0px;
	border-left: solid 5px rgba(0,0,0,0.34);
	border-right: solid 5px rgba(0,0,0,0.34);
	background-color: rgba(0,0,0,0.5);
    width:90%;
    height: 100%;
    margin:0 auto -40px;
    z-index: 0;
    display: table;
}
.information-wrapper2{
	margin-top: 0px;
	display: table-cell;
    vertical-align: middle;
    height: 100%;
    margin:0 auto -40px;
    z-index: 0;
}
.auto-height{
	/*min-height:100%;
    height:auto !important;*/

}
.information-div{
	padding: 20px 5px 20px 5px;
	position: relative;
	margin: 0 auto;
	text-align: center;

}

/*IMAGE SHOWCASE*/

.showcase{

	position: relative;
	display: inline-block;
	width: 100%;
	height: 20%;
	margin: 20px 0px 0 0px;
	padding: 10px 0;
	max-width: 800px;
	border:2px solid;
	border-radius: 5px;
	overflow: hidden;
	box-shadow:  0px 0px 5px rgba(0,0,0,1);

}
.image-showcase{
	transform:translateX(0px);
	height: 100%;
	position: relative;
	padding: 5px 10px 5px 50px;
	vertical-align: center;
	margin:auto;
	white-space: nowrap;
	display: table;
}
.image-overlay{
	pointer-events: none;
	width:100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:linear-gradient(to right,rgba(0,0,0,1)0%, rgba(0,0,0,.2) 30%, rgba(0,0,0,0)50%, rgba(0,0,0,.2) 70%,rgba(0,0,0,1)100%);
	z-index: 100;
}
.showcase-image{
	position: relative;
	vertical-align: middle;
	width:33%;
	padding: 10px;
}

.showcase-left{
	margin-left: 10px;
	position: absolute;
	height: 40%;
	top:25%; bottom:0; left:0;
	z-index: 1501;
	padding:0 ;

}
.showcase-right{
	margin-right:10px;
	position: absolute;
	height: 40%;
	top:25%; bottom:0;right:0;
	z-index: 1501;
	padding:0 ;
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
/* COPYRIGHT DIVIDER */

.copyright-bar{
	position: fixed;
	width: 100%;
	height: 4vw;
	bottom: 0;
	text-align: center;
	background-color: rgba(0,0,0,0.65);
	z-index:1550;
	/* Gets rid of random 1px space at bottom of screen in firefox, may have other side affects?*/
    overflow: hidden;
}
@media screen and (min-width: 400px) and (min-device-width: 400px) {
	.copyright-bar {
		height: 40px;
	}
}
.push{
	height: 40px;
}
/* HOME PAGE*/
.logo-div{
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
	padding-top: 10%;
	z-index: 3500;
}
.spinner{
	position: relative;
	margin:auto;
	-webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;

}
.spinner2{
	position: relative;
	margin:auto;
	-webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;

}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/* LOADER */
.loader-wrapper .loader-section{
	background-color: #1b1b1b;
	z-index: 3000;
	position: fixed;
	top:0;
	width:51%;
	height:100%;
}
.loaded .loader-wrapper {
    visibility: hidden;
}
.loader-wrapper .section-left{
	left: 0;
}
.loader-wrapper .section-right{
	right: 0;
}
.loaded .loader-wrapper .section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%);  /* IE 9 */
    transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
}

.loaded .loader-wrapper  .section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%);  /* IE 9 */
    transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
}
/*Animations for loader*/

/* add .loaded to body, then this will occur */
.loaded .spinner {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition:all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.logo{
	-webkit-transform: scale(1,1);
	 -moz-transform:scale(1,1);
	 -ms-transform:scale(1,1);
	  transform: scale(1,1);
	  -webkit-transition: all 0.3s ease-in-out;
    transition: all  0.3s ease-in-out;
}
.logo:hover{
	-webkit-transform: scale(1.1,1.1);
	 -moz-transform:scale(1.1,1.1);
	 -ms-transform:scale(1.1,1.1);
	  transform: scale(1.1,1.1);
	 -webkit-transition: all 0.3s ease-in-out;
    transition: all  0.3s ease-in-out;
    z-index: 1500;
}
.loaded .loader-wrapper .section-right,
.loaded .loader-wrapper .section-left{
	-webkit-transition: all 0.3s 0.3s ease-out;
    transition: all 0.3s 0.3s ease-out;
}
/*Page Movements*/
.move-left{
	-webkit-animation-name:moveLeft; -moz-animation-name:moveLeft;
	animation-name:moveLeft;
	-webkit-animation-duration:1s; -moz-animation-duration:1s;
	animation-duration:1s;
}
@-webkit-keyframes moveLeft{
		50%{ transform: translateX(-120%);}
	51%{ transform: translateX(120%);
		opacity:0;}
	100%{transform: translateX(0);}

}
@-moz-keyframes moveLeft{
	50%{ transform: translateX(-120%);}
	51%{ transform: translateX(120%);
		opacity:0;}
	100%{transform: translateX(0);}
}
@keyframes moveLeft{
	50%{ transform: translateX(-120%);}
	51%{ transform: translateX(120%);
		opacity:0;}
	100%{transform: translateX(0);}
}
.move-right{
	-webkit-animation-name:moveRight; -moz-animation-name:moveRight;
	animation-name:moveRight;
	-webkit-animation-duration:1s; -moz-animation-duration:1s;
	animation-duration:1s;
}
@-webkit-keyframes moveRight{
	50%{ -webkit-transform: translateX(120%);}
	51%{ -webkit-transform: translateX(-120%);
		opacity:0;}
	100%{-webkit-transform: translateX(0);}
}
@-moz-keyframes moveRight{
	50%{ transform: translateX(120%);}
	51%{ transform: translateX(-120%);
		opacity:0;}
	100%{transform: translateX(0);}
}
@keyframes moveRight{
	50%{ transform: translateX(120%);}
	51%{ transform: translateX(-120%);
		opacity:0;}
	100%{transform: translateX(0);}
}
.paused{
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}


/*ABOUT*/


.portrait-div{
	position: absolute;
	margin: auto;
  position: absolute;
  top: 0px; left: 0; bottom: 0; right: 0;
  z-index: 5;
}

.about-div{
	background-color:rgba(255,255,255,.03);
	border-radius: 5px;
	border-left:2px solid rgba(0,0,0,.25);
	border-top: 2px solid rgba(0,0,0,.25);
	border-right: 2px solid rgba(0,0,0,.25);
	margin-bottom: 30px;
}
.bio-div{
	position: relative;
	border-color: rgba(255,255,255,.1);
	background-color: rgba(0,0,0,0.2);
	border: 2px solid;
	border-radius: 5px;
	border-color: rgba(255,255,255,.5);
	padding: 20px 10px 0px 10px;
	margin-bottom: 20px;
	margin-top: 92px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	max-width: 800px;
	text-align: center;
}
/* PROJECTS */
.project-title{
	font-size: 24px;
	font-family: 'Impact';
	margin:10px;
	color: #dddddd;
}
.projects-div{
	padding: 20px 20px 100px 20px;

	position: relative;
	margin: 0 auto;
	max-width: 1000px;
}

.projects-wrapper{
	border: 1px solid;
	border-color: rgba(59,170,191,1);
	border-radius: 10px;
	overflow: hidden;

}
.project-button{
	display: block;
	width: 100%;
	font-size: 36px;
	font-family: "Impact";
	background-color: rgba(255,0,0,0);
	border:none;
	height: 100%;
	text-align: center;
	cursor:pointer;
	color:#ffffff;
	outline: none;
	transition: background-color 0.25s linear; /* vendorless fallback */
    -o-transition:  background-color 0.25s linear; /* opera */
    -ms-transition:  background-color 0.25s linear; /* IE 10 */
    -moz-transition:  background-color 0.25s linear; /* Firefox */
    -webkit-transition:  background-color 0.25s linear; /*safari and chrome */
}
.project-link{
	display: inline-block;
	float: left;
	padding: 5px 0 5px 0;
	margin-bottom: 5px;
	width: 100%;
	font-family: "Impact";
	background-color: rgba(59,170,191,0.2);
	border-radius: 5px;
	border-left:2px solid rgba(0,0,0,.25);
	border-bottom: 2px solid rgba(0,0,0,.25);
	border-right: 2px solid rgba(0,0,0,.25);
	font-size: 20px;
	cursor:pointer;
	color:#ffffff;
	outline: none;
	text-align: center;
	text-decoration: none;
	transition: background-color 0.25s linear; /* vendorless fallback */
    -o-transition:  background-color 0.25s linear; /* opera */
    -ms-transition:  background-color 0.25s linear; /* IE 10 */
    -moz-transition:  background-color 0.25s linear; /* Firefox */
    -webkit-transition:  background-color 0.25s linear; /*safari and chrome */
}
.triangular-template{
	display: none;
}
.language-text{
	font-size: 10px;
	padding-top: 5px;
	color: rgba(255,255,255,.7);
	font-family: "Arial";
	font-weight: bold;
	text-align: center;
	text-decoration: none !important;
}
.project-button:hover,.project-link:hover {

	background-color:#3BAABF;
}
.project-button:active {
	position:relative;
	top:1px;
}
.hide-content{
	height: 0;
	overflow: hidden;
	padding: 0 20px;
}

.divider-div{
	text-align: center;
	height: auto;
	width: 100%;
}


.round-top{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.round-bottom{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.paragraph{
	font-size: 16px;
	color: #ffffff;

}
.even{

	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
	background-color: rgba(59,170,191,0.05);
	box-shadow: 0px 2px 1px #000000;


}
.odd{

	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0));
	background-color: rgba(49,238,36,.05);
	box-shadow: 0px 2px 1px #000000;

}
.project-img{
	width: 100%;
	max-width: 40%;
	height: auto;
	padding: 5px 10px;
}
.image-div{
	text-align: center;
}

.divider{
	margin: auto;
	width: 80%;
	height: 5px;
	background-color: #ffffff;
}
.chrome-logo{
	height: 16px;
	width: auto;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.lighter-div{
	background-color: rgba(0,0,0,0.4);
	border: 2px solid;
	border-radius: 5px;
	border-color: rgba(59,170,191,1);
	padding: 0px 10px;

	margin-bottom: 40px;
	margin-top: 20px;
	overflow: hidden;
}

.triangular-div {

	text-align: center;
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 800px
}
.dummy {
    margin-top: 75%; /* 4:3 aspect ratio */

}
.triangular {
    position: absolute;
    width: 100%;
    top: -5px;
    bottom: 0;
    left: 0;
    right: 0;
}


.overlay-template{
	display: none;
}
.overlay{
	display:table;
	table-layout: fixed;
	margin: 60px 0px;
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: auto;
	background-color: rgba(0,0,0,.6);


	z-index: 1525;
}
.overlay-image-div{
	padding: 20px;
	table-layout: fixed;
	width: 80vw;
	height: 80vh;
	display: table-cell;
	vertical-align: middle;
	text-align: center;

}

.overlay-image{
	padding: 10px;
	background-color: rgba(0,0,0,1);
	max-width:100%;
	max-height:100%;
	border: 2px solid #dddddd;
	border-radius: 5px;

}

.enlarge{
	cursor:pointer;
}
